{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-inner">
  <div class="page-header">
    <h4 class="page-title">{% if object %}Update Location{% else %}Add Location{% endif %}</h4>
    <ul class="breadcrumbs">
      <li class="nav-home">
        <a href="{% url 'home' %}">
          <i class="flaticon-home"></i>
        </a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="{% url 'location-list' %}">Locations</a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="#">{% if object %}Edit{% else %}Add{% endif %}</a>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Incident Details</h4>
        </div>
        <div class="card-body">
          {% if messages %}
          <div class="alert alert-success">
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          </div>
          {% endif %}
          <form method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  {{ form.as_p }}
                  {% if form.errors %}
                    <div class="alert alert-danger">
                      <ul>
                        {% for field in form %}
                          {% for error in field.errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                          <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}
                  <a href="{% url 'location-create' %}" class="btn btn-success">
                    <i class="fas fa-plus"></i> Add New Location
                  </a>
                </div>
              </div>
            </div>
            <div class="card-action">
              <button type="submit" class="btn btn-primary">Save</button>
              <a href="{% url 'location-list' %}" class="btn btn-danger">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
